*{padding: 0;
margin: 0;
font-family: Verdana, sans-serif;
}
ul{
    list-style: none;
    background: cornflowerblue;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul .dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: cornflowerblue;
    position: absolute;
    display: none;
}
ul li a:hover{
    background: #5077bd;
}
ul li:hover ul.dropdown{
    display: block;
}